/* mixins */
.transition(@duration:0.2s, @ease:ease-out) {
	-webkit-transition: all @duration @ease;
	-moz-transition: all @duration @ease;
	-o-transition: all @duration @ease;
	transition: all @duration @ease;
}
.transform(...) {
	-webkit-transform: @arguments;
	-moz-transform: @arguments;
	-o-transform: @arguments;
	-ms-transform: @arguments;
	transform: @arguments;
}
.clearfix {
	&:before, &:after	{ content: ""; display: table; }
	&:after				{ clear: both; }
}
.placeholder(@color)	{
	&::-webkit-input-placeholder { color: @color; }
	&:-moz-placeholder	{ color: @color; }
}
.hover-opacity			{ &:hover { opacity: 0.7; } }

@kyberia	= #6dae42;
@gray		= #333;
@background	= #131313;
@black		= #000;
@white		= #fff;
/*
@black		= #fff;
@white		= #000;
@background	= #eee;
*/
@dark		= darken(@kyberia, 15);
@darker		= darken(@kyberia, 30);


.font-kyberia			{ font-family: Tahoma, "Lucida Grande CE", lucida, sans-serif; }
/* ========================================================================== */
/* this is the most 	basic kyberia style, and should be kept simplest possible  */
html					{ background: @black; color: @kyberia; .font-kyberia; }
html					{ overflow-y: scroll; }	// prevent scrollbar jumping
html, input,
textarea, select		{ font-size: 8pt; }
body					{ margin: 0; }
a						{ color: @white; text-decoration: none; }
a:hover					{ color: red; }

/* main kyberia style */
.kyberia-important		{ color: red; font-weight: bold; text-transform: uppercase; }
.kyberia-skip			{ width: 50px; cursor: s-resize; background: url(../../../img/skip.png); }
.kyberia-input			{ background: @black; border: 1px solid @gray; height: 20px; line-height: 20px;
							padding: 0 5px;
							color: white; margin: 0 5px 5px 0; box-sizing: border-box;
							display: inline-block; font-family: monospace; .placeholder(#555);
	&:hover,&:focus		{  }
}
.kyberia-button			{ color: white; cursor: pointer; height: 24px; line-height: 24px; font-size: 8pt;
							border: none; background: @dark; padding: 0 12px; display: inline-block;
	&:hover				{ background: @darker; color: @white; }
}

h1,h2,h3,h4				{ margin: 0; margin-top: 10px; margin-bottom: 5px; }
form					{ display: block; }
form.button				{ display: inline-block; }
label					{ display: inline-block; cursor: pointer; }
input[type="submit"],
button					{ .kyberia-button; }
select,
input[type="text"],
input[type="password"]	{ .kyberia-input; }
textarea				{ .kyberia-input; width: 100%; height: 120px; line-height: 14px; }

input[type="checkbox"]	{ display: inline-block; vertical-align: middle; }

input.small				{ width: 80px; }
input.wide				{ width: 250px; }

/* ======================================================== */
.fixed-header-placeholder { height: 32px; }
header					{ min-width: 1260px; width: 100%; background: @kyberia; height: 32px; position: fixed;
							z-index: 99; box-shadow: 0 3px 3px @background; font-size: 12px;
	>.inner				{ width: 1260px; margin: 0 auto; }
	.sidebar			{ width: 250px; text-align: right; float: left; }
	.mainbar			{ width: 750px; float: left; }
	.login				{ text-align: center; }
	.login form			{ display: inline-block; }

	a					{ display: inline-block; padding: 0 12px; line-height: 32px; }
	a:hover				{ background: @dark; }
	.settings,.help		{ color: @black; }
	.dashboard, .mail, .logout { font-weight: bold; color: @black; display: inline-block; }
	.logout button		{ background: none; color: @black; font-weight: bold;
		&:hover			{ background: @dark; }
	}

	.inner input		{ background: @dark; border: none; }

	.mail				{ font-weight: bold; position: relative; }
	.mail.unread		{ color: black; background: #f00; }
	.mail .unread-senders { position: absolute; top: 32px; width: 60px;
		img				{ margin: 2px; width: 25px; height: 25px; float: left; }
	}

	.controls			{ float: right; }

	.search				{ margin-left: 20px; line-height: 32px; color: @black; display: inline-block;
							font-size: 12px;
		input			{ width: 300px; padding: 0 10px; .font-kyberia; background: @dark;
							.placeholder(@kyberia);
		}
	}
	.search-anchor		{ display: inline-block; position: relative; }
	.search-window		{ position: absolute; top: 30px; width: 300px; background: @background; color: @kyberia;
							box-shadow: 0 5px 5px 3px @black; z-index: 8;

		.results		{ padding: 5px 0; }
		.results>div	{ padding: 5px 10px; }
		.opt			{ padding: 5px 10px; display: block;
			&.where		{ background: @gray; }
			i			{ margin-right: 2px; }
			b.k			{ .kyberia-important; text-transform: uppercase; width: 14px; display: inline-block;
							text-align: center; color: #f00; }
			q			{ font-weight: bold; }
			q:before, q:after { content: ""; }
		}
		.opt.active		{ background: @darker; cursor: pointer; }
	}
}
footer					{ clear: both; text-align: center; padding: 20px; color: @dark; }

.kyberia-flashMessages { width: 666px; margin: 5px auto; text-align: center;
	.message			{ font-weight: bold; padding: 5px; margin: 5px; background: @kybbg;
							background: @darker; .clearfix; cursor: pointer; }
	.message.error		{ color: red; border-color: red; background: darken(red, 30%); }
	.message.left		{ text-align: left; }
}

.search-results			{
}

/* ======================================================== */


/* BASIC MODEL ELEMENTS - all must be properly tagged for easy js manipulation */
.node-ancestors			{ margin-bottom: 10px; display: inline-block; color: @dark;
	a					{ color: #555; }
	a:hover				{ color: @white; }
	.separator			{ color: @dark; }
	.big-ancestor		{ font-weight: bold; }
}
.node-permissions		{ display: inline-block; .hover-opacity; margin-right: 10px; }

.node-visitors			{ text-align: center; padding: 10px 0;
	img					{ width: 30px; height: 30px; margin: 0 2px; }
}

.node-booked-count		{ color: @dark; }
.node-k-value			{ .kyberia-important; }
.node-new				{ .kyberia-important; text-transform: uppercase; }
.node-avatar			{ width: 50px; height: 50px; }
.node-drawK				{ .kyberia-important; }
.node-skip				{ .kyberia-skip; }
.node-new-children		{ .kyberia-important; }

.kyberia-filters-toggle	{ float: right; }
.kyberia-search			{ text-align: center; clear: both; padding-top: 10px;
	button				{ font-size: 15px; }
}
.kyberia-filters		{ width: 100%; min-width: 600px; padding-top: 10px; clear: both;
	button				{ float: left; margin: 0; }
	.property			{ float: left; width: 48%; margin: 0 -1px; }

	input				{ width: 100%; margin-top: 0; }
	.help				{ color: #888; padding-left: 4px; }
	.help>span			{ cursor: pointer; display: inline-block; padding: 2px 6px; background: @kyb;
							color: @black; border-radius: 3px; margin: 2px;
		&:hover, &.active { color: @white; background: @v3; box-shadow: 0 0 5px @v3; }
	}
}

.node-button			{ background-color: @background; color: #aaa; font-weight: bold; margin: 0 1px;
							height: 16px; line-height: 16px; min-width: 16px;
							display: inline-block; vertical-align: middle; text-align: center;
							font-weight: bold; cursor: pointer;
	&.edit				{ background: @background url(../img/edit.png) no-repeat center center; }
	&.reply				{ background: @background url(../img/reply.png) no-repeat center center; }
	&:hover				{ background-color: @dark; }

	>button				{ background: none; padding: 0; margin: 0; color: #aaa;
							line-height: 16px; font-weight: bold; width: 100%; height: 100%;
							padding: 0 5px; min-width: 6px;
						}
}

.node-topic .controls	{ float: right;
	.node-button		{ border: 2px solid @gray; }
	.booked-users		{ display: inline-block; vertical-align: middle;
		a				{ margin: 0 1px; display: inline-block; }
		img				{ width: 24px; height: 24px; vertical-align: middle; }
	}
}

.node .content.hidden	{ background: #200 !important; color: #800; text-align: center; }
.node.view-as-submission { border: 1px solid @gray; margin-left: 50px; margin-top: 15px;
	.header				{ background: @gray; position: relative; line-height: 24px;
							padding-left: 10px; padding-right: 5px; .clearfix; }
	.content			{ background: @black; padding: 10px; word-wrap: break-word; }

	.user-link			{ color: #888; margin-right: 5px; }
	.user-link:hover	{ color: #fff; }
	.node-link			{ margin: 0 5px; }
	.date				{ margin: 0 5px; color: #888; }
	.avatar				{ position: absolute; left: -53px; width: 50px; height: 50px; }
	.controls			{ float: right; }
	.k-value			{ .kyberia-important; vertical-align: middle; }
}

.node-reply				{ position: relative; margin: 20px 0; margin-left: 100px;
	.avatar				{ position: absolute; left: -53px; width: 50px; height: 50px; }
	textarea			{ height: 50px; }
	.preview			{ display: none; }

	.hardlink			{ float: right;
		[name=id_put_into] { width: 80px; text-align: center; }
	}
}

table.nodeshells { border-collapse: collapse; width: 100%; }

.node.view-as-nodeshell	{ margin-bottom: 2px; background: @black; padding: 0 5px; border-left: 5px solid #aa0;
	&.template-nodeshell { border-left: 5px solid red; }
	&.template-forum	{ border-left: 5px solid @kyberia; }
	&.template-submission { border-left: 5px solid @black; }

	.header, .controls	{ display: inline-block; vertical-align: middle; height: 24px; line-height: 24px; }
	.header				{ max-width: 80%; }
	.controls			{ max-width: 19%; float: right; }
	.avatar				{ width: 24px; height: 24px; vertical-align: middle; }
	.template			{ width: 60px; display: inline-block; }
	.name				{ width: 200px; display: inline-block; }
	.user				{ margin-left: 5px; min-width: 50px; display: inline-block; }
	.user:not(:hover)	{ color: #888; }
	.node-k-value		{ min-width: 30px; display: inline-block; text-align: right; }

	.child-count		 { color: @dark; }
	.child-count:not(.count-0) { font-weight: bold; color: @kyberia; }
}

.node.is-hardlink		{
	&.view-as-nodeshell,
	&.view-as-submission { border: 1px dotted @kyberia; }
}

/* layouts */
.layout					{ width: 1260px; margin: 0 auto;
	.column				{ display: inline-block; vertical-align: top; }
	.column .inner		{ padding: 20px; }
}
.layout.one-column		{
	.mainbar			{ width: 100%; }
}
.layout.two-columns		{
	.sidebar			{ width: 250px; }
	.mainbar			{ width: 750px; background: @background; }
}
.layout.three-columns	{
	.sidebar			{ width: 250px; }
	.mainbar			{ width: 750px; background: @background; }
	.rightbar			{ width: 250px; }
}

/* toto je na moznosti v kazdej node, ze s akou templatou ju zobrazit.. */
nav.pointers			{ display: table; border-collapse: collapse; width: 100%; margin-bottom: 20px;
	>a					{ display: table-cell; color: @dark; text-align: center; height: 24px; line-height: 24px;
		&:hover,&.active { background: @darker; color: @kyberia; }
		&.filler		{ width: 50px; }
		&.filler:hover	{ background: none; }
	}
	i					{ margin-right: 3px; position: relative; top: -1px; }
}

nav.pagination			{ display: none;
	.inner				{ display: inline-block; }
	.prev,.next			{ display: inline-block; padding: 15px 200px;
		&:hover			{ background: @darker; }
	}
}

.user-booked			{
	.bookmark-node		{ white-space: nowrap; max-width: 90%; overflow: hidden; text-overflow: ellipsis; }
}
.unread-children		{ .kyberia-important; }

/* asi by bolo fajn pouzivat section s nazvom templaty ako classom */
section.mail			{
	.controls			{ float: right; margin-bottom: 5px; }
	.check-all			{ cursor: pointer; }

	.message			{ clear: both; .clearfix; padding: 10px; border-top: 1px solid @kyberia; background: @black;
		&.unread		{ background: #222; }
		&.checked		{ background: #300; }
		.avatar			{ float: left; }
		.avatar img		{ width: 50px; height: 50px; }
		.content		{ margin-left: 60px; }
		.header			{ margin-left: 60px; height: 24px; line-height: 24px; color: @dark;
			a:not(:hover) { color: #888; }
			a:hover		{ color: #fff };
			.unread		{ .kyberia-important; }
			.checkbox	{ float: right; margin-top: 5px; margin-left: 10px; }
			.datetime	{ float: right; }
		}
	}
}

section.profile			{
	.mutual-friends		{ text-align: center; padding-top: 15px; color: @dark; }
}

section.history			{
	.revisions			{ margin-left: 70px; margin-top: 20px;
		.revision.active { background: #333; }
		.revision		{ padding: 5px; }
		.revision:hover	{ background: @dark; color: black; cursor: pointer; }
		.date			{ display: inline-block; min-width: 120px; text-align: right; padding-right: 5px; }
	}
}

.user-activity-box		{ width: 200px; display: inline-block;
	h4					{ text-align: center; }
	.user-avatar		{ float: left; }
	.user-activity		{ margin-left: 50px; padding: 5px; }
	.user-location		{ display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
}
.user-activity-line		{ line-height: 16px; padding: 1px 0;
	.user-avatar		{ float: left; }
	img					{ width: 16px; height: 16px; }
	.user-activity		{ margin-left: 16px; padding: 1px 5px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
	.user-ago			{ width: 45px; display: inline-block; text-align: center; }
}


