{if !$user->isGuest}
	{if !$user->hasGivenK($node)}
		<form class="node-button k" method="POST" action="{$node.link}/k">
			<button>K</button>
		</form>
	{/if}
	{* smrk smrk :'( if $node.isKRecent}
		<form class="node-button unk" method="POST" action="{$node.link}/unk">
			<button>-K</button>
		</form>
	{/if*}
{/if}