{if !$node.asUser}
	{if $user->hasFooked($node)}
		<form class="node-button unfook" method="POST" action="{$node.link}/unfook">
			<button>unfook</button>
		</form>
	{else}
		<form class="node-button fook" method="POST" action="{$node.link}/fook">
			<button>fook</button>
		</form>
	{/if}
{/if}

