// TODO: treba poriesit aby sa kyberia.less prekompilovalo automaticky pri zmene importnutych less
// dovtedy to rusim, lebo to trva 300ms pri kazdom requeste
// @import "kyberia/old";
// @import "kyberia/layout";

html {
	font-family: Tahoma, "Lucida Grande CE", lucida, sans-serif !important;
	font-size: 8pt;
}
body {
  background: #000;
  font-family: Tahoma, "Lucida Grande CE", lucida, sans-serif !important;
  font-size: 8pt;
}

a { text-decoration: none !important; }
