{extends file="layouts/node.tpl"}
{block content}
<section class="source">

	{$node->tpl(viewAsSubmission, ['source'=>'1'])}

	<br>
	<a style="float: right;" href="{$node.link}/history">history</a>

</section>
{/block}
