{extends file="layouts/center.tpl"}
{block content}
	<section class="main">

		<div class="container" style="width: 778px; margin: 0 auto;">
			<img src="{$Yii->baseUrl}/assets/img/top.gif" style="max-width: 100%;">
			<div style="text-align: left;">
				{$node|tpl:viewLast}
			</div>
		</div>

	</section>
{/block}
