html {
  font-family: Tahoma, "Lucida Grande CE", lucida, sans-serif !important;
  font-size: 8pt;
}
body {
  background: #000;
  font-family: Tahoma, "Lucida Grande CE", lucida, sans-serif !important;
  font-size: 8pt;
}
a {
  text-decoration: none !important;
}
