.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.hover-opacity:hover {
  opacity: 0.7;
}
.font-kyberia {
  font-family: Tahoma, "Lucida Grande CE", lucida, sans-serif;
}
html {
  background: #000;
  color: #6dae42;
  font-family: Tahoma, "Lucida Grande CE", lucida, sans-serif;
}
html {
  overflow-y: scroll;
}
html,
input,
textarea,
select {
  font-size: 8pt;
}
body {
  margin: 0;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: red;
}
.kyberia-important {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
}
.kyberia-skip {
  width: 50px;
  cursor: s-resize;
  background: url(../../../img/skip.png);
}
.kyberia-input {
  background: #000;
  border: 1px solid #333;
  height: 20px;
  line-height: 20px;
  padding: 0 5px;
  color: white;
  margin: 0 5px 5px 0;
  box-sizing: border-box;
  display: inline-block;
  font-family: monospace;
}
.kyberia-input::-webkit-input-placeholder {
  color: #555;
}
.kyberia-input:-moz-placeholder {
  color: #555;
}
.kyberia-button {
  color: white;
  cursor: pointer;
  height: 24px;
  line-height: 24px;
  font-size: 8pt;
  border: none;
  background: #4a772d;
  padding: 0 12px;
  display: inline-block;
}
.kyberia-button:hover {
  background: #283f18;
  color: #fff;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 5px;
}
form {
  display: block;
}
form.button {
  display: inline-block;
}
label {
  display: inline-block;
  cursor: pointer;
}
input[type="submit"],
button {
  color: white;
  cursor: pointer;
  height: 24px;
  line-height: 24px;
  font-size: 8pt;
  border: none;
  background: #4a772d;
  padding: 0 12px;
  display: inline-block;
}
input[type="submit"]:hover,
button:hover {
  background: #283f18;
  color: #fff;
}
select,
input[type="text"],
input[type="password"] {
  background: #000;
  border: 1px solid #333;
  height: 20px;
  line-height: 20px;
  padding: 0 5px;
  color: white;
  margin: 0 5px 5px 0;
  box-sizing: border-box;
  display: inline-block;
  font-family: monospace;
}
select::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder {
  color: #555;
}
select:-moz-placeholder,
input[type="text"]:-moz-placeholder,
input[type="password"]:-moz-placeholder {
  color: #555;
}
textarea {
  background: #000;
  border: 1px solid #333;
  height: 20px;
  line-height: 20px;
  padding: 0 5px;
  color: white;
  margin: 0 5px 5px 0;
  box-sizing: border-box;
  display: inline-block;
  font-family: monospace;
  width: 100%;
  height: 120px;
  line-height: 14px;
}
textarea::-webkit-input-placeholder {
  color: #555;
}
textarea:-moz-placeholder {
  color: #555;
}
input[type="checkbox"] {
  display: inline-block;
  vertical-align: middle;
}
input.small {
  width: 80px;
}
input.wide {
  width: 250px;
}
.fixed-header-placeholder {
  height: 32px;
}
header {
  min-width: 1260px;
  width: 100%;
  background: #6dae42;
  height: 32px;
  position: fixed;
  z-index: 99;
  box-shadow: 0 3px 3px #131313;
  font-size: 12px;
}
header >.inner {
  width: 1260px;
  margin: 0 auto;
}
header .sidebar {
  width: 250px;
  text-align: right;
  float: left;
}
header .mainbar {
  width: 750px;
  float: left;
}
header .login {
  text-align: center;
}
header .login form {
  display: inline-block;
}
header a {
  display: inline-block;
  padding: 0 12px;
  line-height: 32px;
}
header a:hover {
  background: #4a772d;
}
header .settings,
header .help {
  color: #000;
}
header .dashboard,
header .mail,
header .logout {
  font-weight: bold;
  color: #000;
  display: inline-block;
}
header .logout button {
  background: none;
  color: #000;
  font-weight: bold;
}
header .logout button:hover {
  background: #4a772d;
}
header .inner input {
  background: #4a772d;
  border: none;
}
header .mail {
  font-weight: bold;
  position: relative;
}
header .mail.unread {
  color: black;
  background: #f00;
}
header .mail .unread-senders {
  position: absolute;
  top: 32px;
  width: 60px;
}
header .mail .unread-senders img {
  margin: 2px;
  width: 25px;
  height: 25px;
  float: left;
}
header .controls {
  float: right;
}
header .search {
  margin-left: 20px;
  line-height: 32px;
  color: #000;
  display: inline-block;
  font-size: 12px;
}
header .search input {
  width: 300px;
  padding: 0 10px;
  font-family: Tahoma, "Lucida Grande CE", lucida, sans-serif;
  background: #4a772d;
}
header .search input::-webkit-input-placeholder {
  color: #6dae42;
}
header .search input:-moz-placeholder {
  color: #6dae42;
}
header .search-anchor {
  display: inline-block;
  position: relative;
}
header .search-window {
  position: absolute;
  top: 30px;
  width: 300px;
  background: #131313;
  color: #6dae42;
  box-shadow: 0 5px 5px 3px #000;
  z-index: 8;
}
header .search-window .results {
  padding: 5px 0;
}
header .search-window .results>div {
  padding: 5px 10px;
}
header .search-window .opt {
  padding: 5px 10px;
  display: block;
}
header .search-window .opt.where {
  background: #333;
}
header .search-window .opt i {
  margin-right: 2px;
}
header .search-window .opt b.k {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
  width: 14px;
  display: inline-block;
  text-align: center;
  color: #f00;
}
header .search-window .opt q {
  font-weight: bold;
}
header .search-window .opt q:before,
header .search-window .opt q:after {
  content: "";
}
header .search-window .opt.active {
  background: #283f18;
  cursor: pointer;
}
footer {
  clear: both;
  text-align: center;
  padding: 20px;
  color: #4a772d;
}
.kyberia-flashMessages {
  width: 666px;
  margin: 5px auto;
  text-align: center;
}
.kyberia-flashMessages .message {
  font-weight: bold;
  padding: 5px;
  margin: 5px;
  background: ;
  background: #283f18;
  cursor: pointer;
}
.kyberia-flashMessages .message:before,
.kyberia-flashMessages .message:after {
  content: "";
  display: table;
}
.kyberia-flashMessages .message:after {
  clear: both;
}
.kyberia-flashMessages .message.error {
  color: red;
  border-color: red;
  background: #660000;
}
.kyberia-flashMessages .message.left {
  text-align: left;
}
.node-ancestors {
  margin-bottom: 10px;
  display: inline-block;
  color: #4a772d;
}
.node-ancestors a {
  color: #555;
}
.node-ancestors a:hover {
  color: #fff;
}
.node-ancestors .separator {
  color: #4a772d;
}
.node-ancestors .big-ancestor {
  font-weight: bold;
}
.node-permissions {
  display: inline-block;
  margin-right: 10px;
}
.node-permissions:hover {
  opacity: 0.7;
}
.node-visitors {
  text-align: center;
  padding: 10px 0;
}
.node-visitors img {
  width: 30px;
  height: 30px;
  margin: 0 2px;
}
.node-booked-count {
  color: #4a772d;
}
.node-k-value {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
}
.node-new {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
}
.node-avatar {
  width: 50px;
  height: 50px;
}
.node-drawK {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
}
.node-skip {
  width: 50px;
  cursor: s-resize;
  background: url(../../../img/skip.png);
}
.node-new-children {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
}
.kyberia-filters-toggle {
  float: right;
}
.kyberia-search {
  text-align: center;
  clear: both;
  padding-top: 10px;
}
.kyberia-search button {
  font-size: 15px;
}
.kyberia-filters {
  width: 100%;
  min-width: 600px;
  padding-top: 10px;
  clear: both;
}
.kyberia-filters button {
  float: left;
  margin: 0;
}
.kyberia-filters .property {
  float: left;
  width: 48%;
  margin: 0 -1px;
}
.kyberia-filters input {
  width: 100%;
  margin-top: 0;
}
.kyberia-filters .help {
  color: #888;
  padding-left: 4px;
}
.kyberia-filters .help>span {
  cursor: pointer;
  display: inline-block;
  padding: 2px 6px;
  background: ;
  color: #000;
  border-radius: 3px;
  margin: 2px;
}
.kyberia-filters .help>span:hover,
.kyberia-filters .help>span.active {
  color: #fff;
  background: ;
  box-shadow: 0 0 5px ;
}
.node-button {
  background-color: #131313;
  color: #aaa;
  font-weight: bold;
  margin: 0 1px;
  height: 16px;
  line-height: 16px;
  min-width: 16px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}
.node-button.edit {
  background: #131313 url(../img/edit.png) no-repeat center center;
}
.node-button.reply {
  background: #131313 url(../img/reply.png) no-repeat center center;
}
.node-button:hover {
  background-color: #4a772d;
}
.node-button >button {
  background: none;
  padding: 0;
  margin: 0;
  color: #aaa;
  line-height: 16px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  padding: 0 5px;
  min-width: 6px;
}
.node-topic .controls {
  float: right;
}
.node-topic .controls .node-button {
  border: 2px solid #333;
}
.node-topic .controls .booked-users {
  display: inline-block;
  vertical-align: middle;
}
.node-topic .controls .booked-users a {
  margin: 0 1px;
  display: inline-block;
}
.node-topic .controls .booked-users img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
.node .content.hidden {
  background: #200 !important;
  color: #800;
  text-align: center;
}
.node.view-as-submission {
  border: 1px solid #333;
  margin-left: 50px;
  margin-top: 15px;
}
.node.view-as-submission .header {
  background: #333;
  position: relative;
  line-height: 24px;
  padding-left: 10px;
  padding-right: 5px;
}
.node.view-as-submission .header:before,
.node.view-as-submission .header:after {
  content: "";
  display: table;
}
.node.view-as-submission .header:after {
  clear: both;
}
.node.view-as-submission .content {
  background: #000;
  padding: 10px;
  word-wrap: break-word;
}
.node.view-as-submission .user-link {
  color: #888;
  margin-right: 5px;
}
.node.view-as-submission .user-link:hover {
  color: #fff;
}
.node.view-as-submission .node-link {
  margin: 0 5px;
}
.node.view-as-submission .date {
  margin: 0 5px;
  color: #888;
}
.node.view-as-submission .avatar {
  position: absolute;
  left: -53px;
  width: 50px;
  height: 50px;
}
.node.view-as-submission .controls {
  float: right;
}
.node.view-as-submission .k-value {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
  vertical-align: middle;
}
.node-reply {
  position: relative;
  margin: 20px 0;
  margin-left: 100px;
}
.node-reply .avatar {
  position: absolute;
  left: -53px;
  width: 50px;
  height: 50px;
}
.node-reply textarea {
  height: 50px;
}
.node-reply .preview {
  display: none;
}
.node-reply .hardlink {
  float: right;
}
.node-reply .hardlink [name=id_put_into] {
  width: 80px;
  text-align: center;
}
table.nodeshells {
  border-collapse: collapse;
  width: 100%;
}
.node.view-as-nodeshell {
  margin-bottom: 2px;
  background: #000;
  padding: 0 5px;
  border-left: 5px solid #aa0;
}
.node.view-as-nodeshell.template-nodeshell {
  border-left: 5px solid red;
}
.node.view-as-nodeshell.template-forum {
  border-left: 5px solid #6dae42;
}
.node.view-as-nodeshell.template-submission {
  border-left: 5px solid #000;
}
.node.view-as-nodeshell .header,
.node.view-as-nodeshell .controls {
  display: inline-block;
  vertical-align: middle;
  height: 24px;
  line-height: 24px;
}
.node.view-as-nodeshell .header {
  max-width: 80%;
}
.node.view-as-nodeshell .controls {
  max-width: 19%;
  float: right;
}
.node.view-as-nodeshell .avatar {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
.node.view-as-nodeshell .template {
  width: 60px;
  display: inline-block;
}
.node.view-as-nodeshell .name {
  width: 200px;
  display: inline-block;
}
.node.view-as-nodeshell .user {
  margin-left: 5px;
  min-width: 50px;
  display: inline-block;
}
.node.view-as-nodeshell .user:not(:hover) {
  color: #888;
}
.node.view-as-nodeshell .node-k-value {
  min-width: 30px;
  display: inline-block;
  text-align: right;
}
.node.view-as-nodeshell .child-count {
  color: #4a772d;
}
.node.view-as-nodeshell .child-count:not(.count-0) {
  font-weight: bold;
  color: #6dae42;
}
.node.is-hardlink.view-as-nodeshell,
.node.is-hardlink.view-as-submission {
  border: 1px dotted #6dae42;
}
.layout {
  width: 1260px;
  margin: 0 auto;
}
.layout .column {
  display: inline-block;
  vertical-align: top;
}
.layout .column .inner {
  padding: 20px;
}
.layout.one-column .mainbar {
  width: 100%;
}
.layout.two-columns .sidebar {
  width: 250px;
}
.layout.two-columns .mainbar {
  width: 750px;
  background: #131313;
}
.layout.three-columns .sidebar {
  width: 250px;
}
.layout.three-columns .mainbar {
  width: 750px;
  background: #131313;
}
.layout.three-columns .rightbar {
  width: 250px;
}
nav.pointers {
  display: table;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
nav.pointers >a {
  display: table-cell;
  color: #4a772d;
  text-align: center;
  height: 24px;
  line-height: 24px;
}
nav.pointers >a:hover,
nav.pointers >a.active {
  background: #283f18;
  color: #6dae42;
}
nav.pointers >a.filler {
  width: 50px;
}
nav.pointers >a.filler:hover {
  background: none;
}
nav.pointers i {
  margin-right: 3px;
  position: relative;
  top: -1px;
}
nav.pagination {
  display: none;
}
nav.pagination .inner {
  display: inline-block;
}
nav.pagination .prev,
nav.pagination .next {
  display: inline-block;
  padding: 15px 200px;
}
nav.pagination .prev:hover,
nav.pagination .next:hover {
  background: #283f18;
}
.user-booked .bookmark-node {
  white-space: nowrap;
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.unread-children {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
}
section.mail .controls {
  float: right;
  margin-bottom: 5px;
}
section.mail .check-all {
  cursor: pointer;
}
section.mail .message {
  clear: both;
  padding: 10px;
  border-top: 1px solid #6dae42;
  background: #000;
}
section.mail .message:before,
section.mail .message:after {
  content: "";
  display: table;
}
section.mail .message:after {
  clear: both;
}
section.mail .message.unread {
  background: #222;
}
section.mail .message.checked {
  background: #300;
}
section.mail .message .avatar {
  float: left;
}
section.mail .message .avatar img {
  width: 50px;
  height: 50px;
}
section.mail .message .content {
  margin-left: 60px;
}
section.mail .message .header {
  margin-left: 60px;
  height: 24px;
  line-height: 24px;
  color: #4a772d;
}
section.mail .message .header a:not(:hover) {
  color: #888;
}
section.mail .message .header a:hover {
  color: #fff;
}
section.mail .message .header .unread {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
}
section.mail .message .header .checkbox {
  float: right;
  margin-top: 5px;
  margin-left: 10px;
}
section.mail .message .header .datetime {
  float: right;
}
section.profile .mutual-friends {
  text-align: center;
  padding-top: 15px;
  color: #4a772d;
}
section.history .revisions {
  margin-left: 70px;
  margin-top: 20px;
}
section.history .revisions .revision.active {
  background: #333;
}
section.history .revisions .revision {
  padding: 5px;
}
section.history .revisions .revision:hover {
  background: #4a772d;
  color: black;
  cursor: pointer;
}
section.history .revisions .date {
  display: inline-block;
  min-width: 120px;
  text-align: right;
  padding-right: 5px;
}
.user-activity-box {
  width: 200px;
  display: inline-block;
}
.user-activity-box h4 {
  text-align: center;
}
.user-activity-box .user-avatar {
  float: left;
}
.user-activity-box .user-activity {
  margin-left: 50px;
  padding: 5px;
}
.user-activity-box .user-location {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.user-activity-line {
  line-height: 16px;
  padding: 1px 0;
}
.user-activity-line .user-avatar {
  float: left;
}
.user-activity-line img {
  width: 16px;
  height: 16px;
}
.user-activity-line .user-activity {
  margin-left: 16px;
  padding: 1px 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.user-activity-line .user-ago {
  width: 45px;
  display: inline-block;
  text-align: center;
}
