<form action="/login" method="POST">
	<input type="hidden" name="returnUrl" value="{currentUrl}">
	<label>login/id: <input type="text" name="login" value=""></label>
	&nbsp;
	<label>password: <input type="password" name="password" value=""></label>
	<button>login</button>
	or
	<a href="/register">register</a>
</form>
